@{
    ViewData["Title"] = "Available Catalog";
}
<div class="style">
<h1>Inventory Catalog</h1>

<div id="catalog">

    


</div>
</div>

@section Styles {
    <link href="/css/catalog.css" rel="stylesheet">
}

@section Scripts {
    <script src="/js/catalog.js"></script>
}